image:
  - Visual Studio 2019
  
skip_non_tags: true

environment:
  NSIS_VERSION: 3.06.1
  NUGET_PACKAGE_VERSION: 3.0.6.1
  NUGET_API_KEY:
    secure: 2Vx5dYsFxi3QAG3bMbs1QuL8CnpShVjZZIqJDW+vvIoAcF3on7WyFXcSDjTrEj4v

build_script:
  - ps: >-
      appveyor UpdateBuild -Version "$($env:NUGET_PACKAGE_VERSION).$($env:APPVEYOR_BUILD_NUMBER)"

      .\build.ps1 Publish --NsisVersion $env:NSIS_VERSION --NuGetPackageVersion $env:NUGET_PACKAGE_VERSION --NugetApiKey $env:NUGET_API_KEY

test: off
deploy: off

artifacts:
  - path: artifacts/*.nupkg
    name: Artifact
